.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    padding: 0 20%;
}

.boxes {
    width: 25%;
    height: 200px;
    background-color: black;
    margin: 10px;
    webkit-box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
    -moz-box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
    box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
}